@font-face {
    font-family: Minecraft;
    src: url(Minecraft.ttf);
}

body {
    font-family: Minecraft;
}

p {
    color: aliceblue;
    text-shadow: green 2px 2px 2px;
}

a {
    color: cyan;
    text-shadow: purple 2px 2px 2px;
}

.menu {
    background-color: rgba(0, 0, 0, 0.500);
    border: outset 5px rgba(0, 0, 0, 0.500);
    text-align: center;
    z-index: 10;
    top: 0;
    position: sticky;
}

.menu:hover {
    background-color: rgba(0, 0, 0, 0.800);
    padding: 5px;
}

.title {
    color: #009000;
    text-shadow: 3px 3px 3px #007000;
    text-align: center;
}

.titlecontainer {
    background-color: rgba(0, 0, 0, 0.500);
    border: outset 5px rgba(0, 0, 0, 0.500);
}

#page {
    background: linear-gradient(#0a0a1f 0%, #5656DA 100%);
    border: #5656DA ridge 5px;
    height: 720px;
    color: #ddeeff;
}

#catmeowdiv {
    border-right: #ddeeff 1px solid;
}

.Projects {
    width: 500px;
    height: 50px;
    background-color: #0000ff60;
    border: #aa00aa ridge 3px;
    cursor: pointer;
}

.Projects:hover {
    width: 500px;
    height: 50px;
    background-color: #0000ff90;
    border: #cc00cc ridge 3px;
    box-shadow: 3px 3px 3px #aa20aa;
}

.Projects a {
    color: #00ffff;
    font-size: 20px;
}

.col-md-6 {
    height: 450px;
}

.media {
    width: 50px;
    height: 50px;
    border: 2px outset #5656DA;
}

#front{
    background: url(./Icons/MeowniumBuilding.png);
    background-position: center;
    background-size: cover;
    margin: 0px;
    padding: 10px;
}

#front div{
    background-color: #00000055;
    border: outset 2px #00000060;
    padding: 5px;
    margin: 4%;
    width: 90%;
    text-align: center;
}

#showingProjects {
    background-color: #00000055;
    border-top: solid black 1px;
    border-bottom: solid black 1px;
}

.CatProjects img,
.CatProjects label {
    width: 270;
    height: 180;
    border: 3px ridge black
}

.CatProjects button {
    color: aliceblue;
    background-color: darkslategrey;
    margin: 2px;
}

.CatProjects p {
    visibility: collapse;
    color: aliceblue;
}

.CatProjects {
    width: min-content;
    height: 250px;
    display: inline-block;
    margin: 8px;
    border: solid rgba(0, 128, 0, 0.6) 2px;
    background-color: rgba(47, 79, 79, 0.6);
    padding: 5px;
    transition: 0.5s;
}

.CatProjects:hover {
    cursor: pointer;
    border: 3px rgba(218, 165, 32, 1) outset;
    background-color: rgba(47, 79, 79, 1);
}

#insidenews {
    color: cornflowerblue;
    text-align: center;
}

#insidenews:hover,
#gamesAnchor:hover {
    color: purple;
}